<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/contactus.css"/>
    <style type="text/css">
        .m-section1{
            background: url(/images/contactus.png) center top no-repeat;
            background-size:  auto;
            height: 320px;
        }
		#footer{
			background-color: #f3f3f3;
		}	
		#footer ul li a{
			color: #333;
		}
		#footer ul li {
			border-right: 1px solid #828282;
		}		
		#footer p{
			color: #b6b6b6;
		}
		#footer ul li:nth-child(4) a{
			color: #a4a7b3;
		}		
    </style>    
</head>
<body>
<div class="g-bd">
    <div id="header">
        <h1 class="m-logo"><img  class="lazy" src="/images/p_en_logo.png" alt="坚果VPN" width="144px" height="40px"/></h1>
        <div class="m-nav">
            <ul>
                <li class="z-nav-active">
                    <h2><a href="/">HOME</a></h2>
                </li>
                <li>
                    <h2><a href="/#down">DOWNLOAD</a></h2>
                </li>
                <li>
                    <h2><a class="i-long" href="/package">PRICING</a></h2>
                </li>
                <li>
                    <h2><a class="i-long" href="/question">QUESTION</a></h2>
                </li>
                <li>
                    <p><span>中</span><span class="lang">EN</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-section1"></div>
    <div class="m-section2">
        <ul>
            <li><a href="https://weibo.com/u/6671433011" target="_blank"><i></i><span>weibo-NUTS VPN </span></a></li>
            <li><a href=""><i></i><span></span>QQ-1514706986</a></li>
        </ul>
    </div>
    <!-- 导航 end -->
    <div id="footer">
        <ul>
            <li><a href="/contract">Terms of Service</a></li>
            <li><a href="/privacy">Privacy Statement</a></li>
            <li><a href="/question">Use Help</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/cooperation">Cooperation</a></li>
        </ul>
        <p class="u-p1">Powered by Nuts VPN @2016-2020</p>
        <p class="u-p2">Strictly declare: This website only provides network acceleration technical services, and it is strictly forbidden to engage in any violation of the laws and regulations of the People's Republic of China and the location of the server.</p>
    </div>
</div>
<script src="js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>