<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/contactus.css"/>
    <style type="text/css">
        .m-section1{
            background: url(/images/cooperation.png) center top no-repeat;
            background-size:  auto;
            height: 320px;
        }
		#footer{
			background-color: #f3f3f3;
		}	
		#footer ul li a{
			color: #333;
		}
		#footer ul li {
			border-right: 1px solid #828282;
		}		
		#footer p{
			color: #b6b6b6;
		}
		#footer ul li:nth-child(5) a{
			color: #cdcdcd;
		}
		.m-section2 ul li{
			width: 100%;
		}		
    </style>    
</head>
<body>
<div class="g-bd">
    <div id="header">
        <h1 class="m-logo"><img src="images/p_cn_logo.png" alt="坚果VPN" width="144px" height="40px"/></h1>
        <div class="m-nav">
            <ul>
                <li>
                    <h2><a href="/">首页</a></h2>
                </li>
                <li>
                    <h2><a href="/#down">下载</a></h2>
                </li>
                <li>
                    <h2><a class="i-long" href="/package">套餐说明</a></h2>
                </li>
                <li>
                    <h2><a href="/question">帮助</a></h2>
                </li>
                <li>
                    <p><span class="lang">中</span><span>EN</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-section1"></div>
    <div class="m-section2">
        <ul>
                <li><a href=""><i></i><span></span>商务QQ-2412085914</a></li>
        </ul>
    </div>
    <!-- 导航 end -->
    <div id="footer">
        <ul>
            <li><a href="/contract">服务条款</a></li>
            <li><a href="/privacy">隐私声明</a></li>
            <li><a href="/question">使用帮助</a></li>
            <li><a href="/contactus">联系我们</a></li>
            <li><a href="/cooperation">推广合作</a></li>
        </ul>
        <p class="u-p1">Powered by坚果加速器@2016-2020</p>
        <p class="u-p2">严正声明:本网站仅提供网络加速技术服务,严禁从事任何违反中华人名共和国以及服务器所在地方法律法规的行为!</p>
    </div>
</div>
<script src="js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>