<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
	<title>坚果VPN|坚果加速器官网</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <style>
        #potato {
        width: 151.5px;
        height: 127.5px;
        position: absolute;
        right: 10px;
        top:200px;
        }  
        #potato:hover{
            cursor: pointer;
        }  
        #potato a{
            display: block;
            width: 151.5px;
            height: 127.5px;            
            background: url(../../images/potato.png) center top no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>	
    <div id="header">
        <h1 class="m-logo"><img src="images/p_cn_logo.png" alt="坚果VPN" width="144px" height="40px"/></h1>
        <div class="m-nav">
            <ul>
                <li  class="z-nav-active">
                    <h2><a href="/">首页</a></h2>
                </li>
                <li>
                    <h2><a href="/#down">下载</a></h2>
                </li>
                <li>
                    <h2><a class="i-long" href="/package">套餐说明</a></h2>
                </li>
                <li>
                    <h2><a href="/question">帮助</a></h2>
                </li>
                <li>
                    <p><span class="lang">中</span><span>EN</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-bg-banner">
        <img src="images/margeng.png" alt="" class="margeng" width="666" height="375">
        <div class="u-bd">
            <span><a href="#down" style="display:block; width: 100%;height:137px"></a></span>
        </div>
    </div>
    <div class="m-section1">
        <dl>
            <dt><h3>坚果加速器 畅想精彩世界</h3></dt>
            <dd class="u-dd1">坚果加速器，超过20国家地区的156个节点，享受无限制的在线访问，轻松浏览Youtube、</dd>
            <dd>Tumblr、Facebook、Instagram网站。使用坚果加速器全球网络服务，您可在任意设备</dd>
            <dd>登录使用，并拥有无限高速流量。</dd>
        </dl>
    </div>
    <div class="m-section2" id="down">
        <ul>
            <li class="u-li1">
                <div>
                    <img  class="lazy u-bg" data-original="/images/windows_bg.png" alt="window下载" width="300px" height="442px"/>
                    <div class="u-wrap">
                        <img  class="lazy u-icon" data-original="/images/windows.png" alt="window" width="83px" height="83px"/>
                        <p>Windows客户端</p>
                        <p>请解压完再运行使用 </p>
                        <p class="u-dw"><a href="">安装版下载</a><a class="i-a2" href="">绿色版下载</a></p>
                    </div>
                </div>
            </li>
            <li class="u-li2">
                <div>
                    <img  class="lazy u-bg" data-original="/images/Mac_bg.png" alt="mac下载" width="300px" height="442px"/>
                    <div class="u-wrap">
                        <img  class="lazy u-icon" data-original="/images/mac.png" alt="mac" width="83px" height="83px"/>
                        <p>Mac客户端</p>
                        <p>支持Mac OS系统</p>
                        <p class="u-dw"><a href="">立即下载</a></p>
                    </div>
                </div>
            </li>
            <li class="u-li3">
                <div>
                    <img  class="lazy u-bg" data-original="/images/iOS_bg.png" alt="ios下载" width="300px" height="442px"/>
                    <div class="u-wrap">
                        <img  class="lazy u-icon" data-original="/images/ios.png" alt="ios" width="83px" height="83px"/>
                        <p>iOS客户端</p>
                        <p>支持IOS9.3.3以上系统</p>
                        <p class="u-dw"><a href="">立即下载</a><a class="i-a2">扫码下载</a></p>
                        <img  class="lazy i-rq" data-original="" alt="" width="150px" height="150px">
                    </div>
                </div>
            </li>
            <li class="u-li4">
                <div>
                    <img  class="lazy u-bg" data-original="/images/Android_bg.png" alt="andriod下载" width="300px" height="442px"/>
                    <div class="u-wrap">
                        <img  class="lazy u-icon" data-original="/images/andriod.png" alt="andriod" width="83px" height="83px"/>
                        <p>Android客户端</p>
                        <p>支持Android4.4以上系统</p>
                        <p class="u-dw"><a href="">立即下载</a><a class="i-a2">扫码下载</a></p>
                        <img  class="lazy i-rq" data-original="" alt=""  width="150px" height="150px">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="m-section1 m-section3">
        <dl>
            <dt><h3>坚果客户端</h3></dt>
            <dd class="u-dd1">坚果加速器提供Windows、Mac、iOS、Android免费安全下载地址，无需手动配置，下</dd>
            <dd>载运行即可使用。如遇下载使用问题，欢迎加入官方QQ群：666858831，为节省您的宝</dd>
            <dd>贵时间，建议您先自主查看网站帮助栏目。</dd>
        </dl>
    </div>
    <div class="m-section4">
        <i></i>
        <h3>坚果加速器，800,00,00用户的明智之选</h3>
        <!-- <ul>
            <li>
                <div>
                    <img  class="lazy" data-original="/images/index-se4-1.png" alt="" width="113px" height="96px"/>
                    <p>操作便捷 一键直连</p>
                    <span>下载即用，自主分配账号，省却繁杂注册流程。一键连接，不用手动设置，操作简单。</span>
                </div>
            </li>
            <li>
                <div>
                    <img  class="lazy" data-original="/images/index-se4-2.png" alt=""  width="113px" height="96px"/>
                    <p>极速稳定 应用秒开</p>
                    <span>独立服务器，超大带宽，系统自动选择最优线路，国内外应用秒开，随时随地访问Facebook、YouTube···</span>
                </div>
            </li>
            <li>
                <div>
                    <img  class="lazy" data-original="/images/index-se4-3.png" alt=""  width="113px" height="96px"/>
                    <p>回国模式 海外首选</p>
                    <span>身在国外也能轻松使用国内应用，跨域地域限制，海外人士、出差旅游的首选。</span>
                </div>
            </li>
            <li>
                <div>
                    <img  class="lazy" data-original="/images/index-se4-4.png" alt=""  width="113px" height="96px"/>
                    <p>智能加速 实时切换</p>
                    <span> 在同时访问国内外网站时，坚果会根据您访问的网址智能切换国内外线路，保证网站访问的流畅。</span>
                </div>
            </li>
            <li>
                <div>
                    <img  class="lazy" data-original="/images/index-se4-5.png" alt=""  width="113px" height="96px"/>
                    <p>数据加密 隐私保护</p>
                    <span> 专项数据加密技术和完善的安全防护体系，匿名上网，隐藏真实IP，保护个人隐私。</span>
                </div>
            </li>
            <li>
                <div>
                    <img  class="lazy" data-original="/images/index-se4-6.png" alt=""  width="113px" height="96px"/>
                    <p>会员专线 品质服务</p>
                    <span> 多种服务专线，打造高品质会员享受，让您的网络变的无所不能，畅游全世界。</span>
                </div>
            </li>
        </ul> -->
        <div class="u-ctn">
            <div class="u-warp">
                <img class="lazy" data-original="images/index-se3-1.png" width="305" height="414">
                <div class="i-text">
                    <span>极速稳定 应用秒开</span>
                    <h3>操作便捷 一键直连</h3>
                </div>                
            </div>
            <div class="u-warp">
                
                <div class="i-text">
                    <span>会员专线 品质服务</span>
                    <h3>数据加密 隐私保护</h3>
                </div>
                <img class="lazy" data-original="images/index-se3-2.png" width="533" height="414">
            </div>
        </div>        
    </div>
    <div id="footer">
        <ul>
            <li><a href="/contract">服务条款</a></li>
            <li><a href="/privacy">隐私声明</a></li>
            <li><a href="/question">使用帮助</a></li>
            <li><a href="/contactus">联系我们</a></li>
            <li><a href="/cooperation">推广合作</a></li>
        </ul>
        <p class="u-p1">Powered by坚果加速器@2016-2020</p>
        <p class="u-p2">严正声明:本网站仅提供网络加速技术服务,严禁从事任何违反中华人名共和国以及服务器所在地方法律法规的行为!</p>
    </div>
    <div id="potato"><a href="https://potato.im/joinchat/ae23ae451b52bd452e0492f523038f05" target="_blank"></a></div>	
	<script src="js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>	