<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
	<title>坚果VPN|坚果加速器官网</title>
    <link rel="stylesheet" type="text/css" href="/css/package.css"/>
    <style type="text/css">
        .m-section1{
            background: url(/images/package_bg.png) center top no-repeat;
            background-size:  auto;
            height: 320px;
        }
    </style>	
</head>
<body>	
    <div id="header">
        <h1 class="m-logo"><img src="images/p_cn_logo.png" alt="坚果VPN" width="144px" height="40px"/></h1>
        <div class="m-nav">
            <ul>
                <li>
                    <h2><a href="/">首页</a></h2>
                </li>
                <li>
                    <h2><a href="/#down">下载</a></h2>
                </li>
                <li class="z-nav-active">
                    <h2><a class="i-long" href="/package">套餐说明</a></h2>
                </li>
                <li>
                    <h2><a href="/question">帮助</a></h2>
                </li>
                <li>
                    <p><span class="lang">中</span><span>EN</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-section1"></div>
    <div class="m-section2">
        <ul>
			<li>
				<div>
					<span  class="i-icn i-icn1">
						<i></i>
					</span>
					<span class="i-btn">
						<i>请在应用内购买</i>
					</span>
					<h2>普通服务</h2>
					<p>1钻/天 </p>
					<p>月卡<i>28</i>元/月</p>
					<p>季卡<i>78</i>元/季</p>
					<p>年卡<i>240</i>元/年</p>
					<p>
						<span>轻松浏览文字图片网站使用即时通讯工具</span>
					</p>
				</div>
			</li>
			<li>
				<div>
					<span  class="i-icn i-icn2">
						<i></i>
					</span>
					<span class="i-btn">
						<i>请在应用内购买</i>
					</span>
					<h2>高级服务</h2>
					<p>3钻/天</p>
					<p>月卡<i>78</i>元/月</p>
					<p>季卡<i>218</i>元/季</p>
					<p>年卡<i>680</i>元/年</p>
					<p>
						<span>流畅观看1080P视频享受“普通服务”所有内容</span>
					</p>
				</div>
			</li>
			<li>
				<div>
					<span  class="i-icn i-icn3">
						<i></i>
					</span>
					<span class="i-btn">
						<i>请在应用内购买</i>
					</span>
					<h2>钻石套餐</h2>
					<p>按天结算</p>
					<p>18元  <i>12</i>钻石</p>
					<p>58元  赠送2钻石 得<i>42</i>钻石</p>
					<p>98元  赠送8钻石 得<i>74</i>钻石</p>
					<p>
						<span>可灵活搭配普通服务和高级服务使用</span>
					</p>
				</div>
			</li>
        </ul>
    </div>
    <div id="footer">
        <ul>
            <li><a href="/contract">服务条款</a></li>
            <li><a href="/privacy">隐私声明</a></li>
            <li><a href="/question">使用帮助</a></li>
            <li><a href="/contactus">联系我们</a></li>
            <li><a href="/cooperation">推广合作</a></li>
        </ul>
        <p class="u-p1">Powered by坚果加速器@2016-2020</p>
        <p class="u-p2">严正声明:本网站仅提供网络加速技术服务,严禁从事任何违反中华人名共和国以及服务器所在地方法律法规的行为!</p>
    </div>	
	<script src="js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.lazyload.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>	