<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="all">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
	<title>坚果VPN|坚果加速器官网</title>
    <link rel="stylesheet" type="text/css" href="/css/help.css"/>
    <style type="text/css">
        .m-section1{
            background: url(/images/p_cn_help.png) center top no-repeat;
            background-size:  auto;
            height: 320px;
        }
		#footer ul li:nth-child(3) a{
			color: #a4a7b3;
		}	
		.m-section2 .u-ctn dl a{
			color: #9851ee;
			cursor: pointer;
		}		
    </style>    
</head>
<body>	
    <div id="header">
        <h1 class="m-logo"><img src="images/p_cn_logo.png" alt="坚果VPN" width="144px" height="40px"/></h1>
        <div class="m-nav">
            <ul>
                <li>
                    <h2><a href="/">首页</a></h2>
                </li>
                <li>
                    <h2><a href="/#down">下载</a></h2>
                </li>
                <li>
                    <h2><a class="i-long" href="/package">套餐说明</a></h2>
                </li>
                <li class="z-nav-active">
                    <h2><a href="/question">帮助</a></h2>
                </li>
                <li>
                    <p><span class="lang">中</span><span>EN</span></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-section1"></div>
    <div class="m-section2">
        <ul class="u-snav">
            <li class="z-active">连接问题</li>
            <li>充值问题</li>
            <li>账号密码</li>
        </ul>
        <div class="u-ctn">
        </div>
    </div>
    <div id="footer">
        <ul>
            <li><a href="/contract">服务条款</a></li>
            <li><a href="/privacy">隐私声明</a></li>
            <li><a href="/question">使用帮助</a></li>
            <li><a href="/contactus">联系我们</a></li>
            <li><a href="/cooperation">推广合作</a></li>
        </ul>
        <p class="u-p1">Powered by坚果加速器@2016-2020</p>
        <p class="u-p2">严正声明:本网站仅提供网络加速技术服务,严禁从事任何违反中华人名共和国以及服务器所在地方法律法规的行为!</p>
    </div>	
	<script src="js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/help.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $(function(){
        applyMiddleware('cn');
      })
    </script>    
</body>
</html>	