.m-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  margin: 80px auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.m-section1 dl dt {
  padding: 30px 0;
}
.m-section1 dl dt h1 {
  font-size: 50px;
  font-weight: 400;
}
.m-section1 dl dd p {
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 3px;
}
.m-section2 {
  margin: 0 auto;
  text-align: center;
}
.m-section2 .u-dw {
  margin-bottom: 40px;
}
.m-section2 .u-dw ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}
.m-section2 .u-dw ul li {
  text-align: center;
}
.m-section2 .u-dw ul li i {
  width: 90px;
  height: 90px;
  display: inline-block;
}
.m-section2 .u-dw ul li h3 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 400;
}
.m-section2 .u-dw ul li p {
  color: #777;
}
.m-section2 .u-dw ul li a {
  display: block;
  background-color: #4CA8F4;
  color: #fff;
  font-size: 18px;
  padding: 8px 10px;
  margin-top: 10px;
}
.m-section2 .u-dw ul li .u-box {
  cursor: pointer;
  width: 157px;
  height: 157px;
  position: relative;
  overflow: hidden;
}
.m-section2 .u-dw ul li .u-box:hover .i-rq {
  right: 0;
}
.m-section2 .u-dw ul li .u-box .i-rq {
  position: absolute;
  top: 0;
  right: -157px;
  width: 157px;
  height: 157px;
  display: block;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.m-section2 .u-dw ul .i-ios i {
  background: url(../../images/sprite.png) no-repeat -10px -10px;
}
.m-section2 .u-dw ul .i-android i {
  background: url(../../images/sprite.png) no-repeat -120px -10px;
}
.m-section2 .u-dw ul .i-windows i {
  background: url(../../images/sprite.png) no-repeat -230px -10px;
}
.m-section2 .u-dw ul .i-mac i {
  background: url(../../images/sprite.png) no-repeat -340px -10px;
}
