.m-bg-banner {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.m-bg-banner .margeng{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -333px;
  margin-top: -297px;
  opacity: 0.2;
  z-index: 2;
  -webkit-animation: 3s animations3 ease-out 1s infinite reverse;
          animation: 3s animations3 ease-out 1s infinite reverse;
}
@-webkit-keyframes animations3{
  to{
    -webkit-transform:scale(1);opacity:0.2;
  }
  from{
    -webkit-transform:scale(1.6);opacity:0;
  }
}
@-moz-keyframes animations{
  to{
    -moz-transform:scale(1);opacity:0.2;
  }
  from{
    -moz-transform:scale(1.6);opacity:0;
  }
}
@keyframes animations{
  to{
    transform:scale(1);opacity:0.2;
  }
  from{
    transform:scale(1.6);opacity:0;
  }
}
.m-bg-banner .u-bd {
  background: url(../../images/p_cn_bg1.png) center top no-repeat;
  background-size: auto;
  height: 967px;
  margin: 0 auto;
  position: relative;
}
.m-bg-banner .u-bd span {
  background: url(../../images/download.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 312px;
  height: 108px;
  bottom: 228px;
  left: 50%;
  margin-left: -156px;
  cursor: pointer;
}
.m-section1 {
  height: 320px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.m-section1 dl dt {
  color: #171717;
  font-size: 24px;
  padding-top: 90px;
}
.m-section1 dl dd {
  color: #1b1b1b;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
}
.m-section1 dl .u-dd1 {
  padding-top: 30px;
}
.m-section2 {
  width: 100%;
  text-align: center;
  background: url(../../images/p_cn_se2.png) center top no-repeat;
}
.m-section2 ul {
  width: 1200px;
  height: 730px;
  margin: 0 auto;
  position: relative;
}
.m-section2 ul li {
  display: inline-block;
  position: absolute;
  top: 144px;
  width: 300px;
  height: 442px;
  overflow: hidden;
  cursor: pointer;
}
.m-section2 ul li:hover div .u-wrap p {
  color: #fff;
}
.m-section2 ul li:hover div .u-wrap p a {
  color: #ffcd14;
  border: 1px solid #d6d7e4;
  border-radius: 20px;
  padding: 8px 10px;
  transition: all 0.2;
  -moz-transition: all 0.2;
  -webkit-transition: all 0.2;
  -o-transition: all 0.2;
}
.m-section2 ul li div {
  position: relative;
}
.m-section2 ul li div .u-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.m-section2 ul li div .u-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 442px;
  z-index: 1;
  color: #d3d3d3;
}
.m-section2 ul li div .u-wrap .u-icon {
  margin-top: 104px;
  margin-right: 95px;
}
.m-section2 ul li div .u-wrap .i-rq {
  opacity: 0;
  overflow: hidden;
  margin-left: 70px;
  margin-top: 10px;
}
.m-section2 ul li div .u-wrap p {
  text-align: left;
  margin-left: 63px;
  height: 25px;
  line-height: 25px;
}
.m-section2 ul li div .u-wrap p:first-child {
  margin-top: 10px;
}
.m-section2 ul li div .u-wrap .u-dw {
  padding-top: 10px;
}
.m-section2 ul li div .u-wrap .u-dw a {
  color: #d3d3d3;
  font-size: 16px;
}
.m-section2 ul li div .u-wrap .u-dw .i-a2 {
  margin-left: 10px;
}
.m-section2 ul .u-li1 {
  left: 0;
}
.m-section2 ul .u-li2 {
  left: 301px;
}
.m-section2 ul .u-li3 {
  left: 602px;
}
.m-section2 ul .u-li4 {
  left: 903px;
}
.m-section3 {
  background-color: #4f4ea9;
  width: 100%;
}
.m-section3 dl {
  width: 1000px;
  margin: 0 auto;
}
.m-section3 dl dt {
  color: #fff;
}
.m-section3 dl dd {
  color: #e1e5fd;
}
.m-section4 {
  position: relative;
  overflow: hidden;
}
.m-section4 h3 {
  padding-top: 140px;
  padding-bottom: 100px;
  font-size: 40px;
  text-align: center;
}
.m-section4 ul {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 145px;
}
.m-section4 ul li {
  border: 1px solid #d0d0d0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32.5%;
  flex: 0 0 32.5%;
  margin-top: 25px;
}
.m-section4 ul li div {
  margin: 3px;
  padding: 5px 28px;
  background-color: #e6ecff;
}
.m-section4 ul li div img {
  padding: 28px 0;
}
.m-section4 ul li div p {
  position: relative;
  padding: 25px 0;
  font-size: 20px;
}
.m-section4 ul li div p:after {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: #1a1a1a;
}
.m-section4 ul li div span {
  height: 30px;
  line-height: 150%;
  display: block;
  padding-bottom: 150px;
  font-size: 16px;
}
.m-section4 .u-ctn{
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.m-section4 .u-ctn .u-warp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.m-section4  .u-warp .i-text{
  display: inline-block;
}
.m-section4  .u-warp .i-text span{
  font-size: 20px;
}
.m-section4  .u-warp .i-text h3{
  padding: 0;
  font-size: 28px;
}
.m-section4  .u-warp:nth-child(1) .i-text{
  margin-bottom: 100px;
}