*{
	margin: 0;
	padding: 0;
}
body{
	background: url(/images/assistance/BG.png);
}
li{
	list-style: none;
}
.warp{
	width: 90%;
	margin: 0 auto;
}
.header{
	height: 150px;
}
.header > div{
    width: 100%;
    height: 150px;
    background-color: #fff;	
}
.header ul{
	display: inline-block;
	float: right;
}
.header ul li{
	float: left;
	list-style: none;
	width: 100px;
	height: 150px;
	text-align: center;
	cursor: pointer;	
}
.header ul li a{
	display: block;
	color: #c4c4c4;
	height: 150px;
	line-height: 150px;	
	text-decoration: none;
	font-size: 16px;
}
.header ul li .active{
	color: #3AAC8A;
	border-bottom: 2px solid #3AAC8A;
}

.header img{
	float: left;
	width: calc(100% - 200px);
	width: -webkit-calc(100% - 200px);
	max-width: 230px;
	display: inline-block;
	margin-top: 40px;
}
.main{
	margin: 0 auto;
	margin-top: 2px;
	max-width: 1200px;
}
.main .title{
	background: url(/images/assistance/Rectangle-1-pc.png) no-repeat;
	background-size: cover;
	height: 197px;
	color: #fff;
	font-size: 60px;
	text-align: center;
}
.main .m_warp{
	background-color: #fff;
}
.main .m_warp .m_header{
	height: 50px;
	line-height: 50px;
	position: relative;	
	top:-50px;
}
.main .m_warp .m_header > div{
	color: #fff;
	background-color: #BFC7CA;
	font-size: 18px;
	display: inline-block;
	text-align: center;
	position: absolute;
	width: 24%;
	height: 50px;
	top:0;
	cursor: pointer;
}
.main .m_warp .m_header  .w_title{
	left: 0;
}
.main .m_warp .m_header .a_title{
	left: 24%;
	margin-left: 1.5%;
}
.main .m_warp .m_header .m_title{
	right: 0;
}
.main .m_warp .m_header .p_title{
	left: 48%;
	margin-left: 2.5%;	
}
.main .m_warp .m_header i{
	font-size: 22px;
	margin-right: 5px;
	color: #fff;
}
.main .m_warp .m_header .active{
	color: #000;
	background-color: #fff;
}
.main .m_warp .m_header .active i{
	color: #000;
}
.m_conten{
	position: relative;
	top:10px;
	margin-top: 20px;	
}
.m_conten > div{
	width: 95%;
	margin: 0 auto;
	position: absolute;
}
.m_conten > div  li {
	margin: 10px auto;
	margin-left: 5%;
}
.m_conten .icon,.icon1,.icon2,.icon3 {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #64BF50;
	display: block;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	margin-left: 5px;
}

.m_conten .img,.img1,.img2,.img3 {
	padding-left: 40px;
	border-left: 1px dashed #CCCCCC;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	width: 310.5px;
	height: 552px;
}
.xxx{
	margin-top: -20px;
	margin-bottom: 10px;
}
.xxx p{
	padding-left: 60px;	
	line-height: 30px;
}
@media screen and (max-device-width:960px){
	body{
		background: none;
	}
	.warp{
		width: 100%;
	}	
	.m_conten > div {
	    width: 100%;
	}	
	.m_conten{
		margin-top: 0;
	}	
	.m_conten > div  li{
		margin: 25px 5px;
	}
	.m_conten > div  li .img_warp{
		text-align: center;
		margin-left: 26px;
	}
	.m_conten > div  li .img_warp span{
		display: block;
		margin:10px 0;
	}	
	.m_conten > div  li img{
	    vertical-align: middle;
	}	
	.m_conten .img, .img1, .img2, .img3 {
	    padding-left: 0;
	    margin-left: 0;
	}
	.main .m_warp{
		margin-top: -24px;
	}
	.main .m_warp .m_header {
	    top: -100px;
	}		
	.main .m_warp .m_header > div{
		width: 49%;
	}
	.main .m_warp .m_header  .w_title{
		left: 0;
	}
	.main .m_warp .m_header .a_title{
		right: 0;
		margin-left:0;
		left: 51%;
	}
	.main .m_warp .m_header .m_title{
		top:50px;
		right: 0;
	}
	.main .m_warp .m_header .p_title{
		top:50px;
		left: 0;
		margin-left: 0;		
	}
	.main .title{
		background: url(/images/assistance/tab@2x.png) no-repeat;
		background-size: 100% auto;
		height: 235px;
	    text-align: center;
	    vertical-align: middle;		
	} 	
}